* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #424949;
}

.nav-link {
  color: #bdc3c7;
}

.nav-link:hover {
  color: white;
}

#buy-tickets {
  color: #239b56;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.oscurecer-img {
  filter: brightness(50%);
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: right;
}
.texto-encima {
  position: absolute;
  bottom: 26%;
  right: 9%;
  color: white;
}

.orador-title {
  padding: 1% 0 0 0;
  margin-bottom: 0;
}

.orador-title p {
  font-size: 70%;
}

.orador-title p span {
  font-size: xx-large;
  font-weight: 500;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  text-align: left;
}

.place-container {
  margin: 2em 0 0 0;
  padding: 0;
  width: 100%;
  background-color: #424949;
  text-align: left;
}

.img-box {
  float: left;
  width: 50%;
}

.place {
  float: right;
  width: 50%;
  height: 100%;
  color: white;
  padding-left: 1rem;
}
.img-box img {
  width: 100%;
}
.place-title {
  padding: 1rem 0 0 0;
}
.place-text {
  padding: 0.5rem 0 0 0;
  font-size: 80%;
}

.btn-outline-secondary {
  color: white;
}

form {
  padding: 0 25%;
}

#form-button {
  color: white;
}

#text-label {
  font-size: 65%;
  color: gray;
  display: flex;
  justify-content: flex-start;
}

footer {
  margin-top: 2%;
  padding: 1% 0%;
  display: flex;
  background-color: #1b4f72;
  color: white;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 90%;
}

.footer-left,
.footer-right {
  width: 100%;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .texto-encima p {
    font-size: 80%;
  }

  .place-container {
    display: flex;
    flex-direction: column;
  }

  .img-box,
  .place {
    width: 100%;
  }

  .place {
    padding-bottom: 1%;
  }

  form {
    padding: 0 10%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  #gates-card {
    margin: 1em 0;
  }
}

@media only screen and (max-width: 450px) {
  .texto-encima {
    font-size: 80%;
    bottom: 5%;
    right: 2%;
  }
}
